@CHARSET "UTF-8";
body { margin: 50px auto; width: 800px; }
#content { font-size:12px; font-family:sans-serif; width:800px; }
table { border-collapse:collapse; border:1px solid black; width:800px; }
table th { background: #dddddd; padding:5px; border:1px dotted black; }
table td { padding:5px; border:1px dotted black; }
.button { padding:3px 0px; background:#778899; border:1px solid black; }
.button a { padding:0px 10px; color:white; text-decoration:none; }
a { text-decoration:none; color:black; }
.error-text { color:red; }
.small { font-size:10px; }
.error-border { border:1px solid red; }
