<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>모델 2 - 포탈</display-name>
  <servlet>
    <description></description>
    <display-name>MemoIndex</display-name>
    <servlet-name>MemoIndex</servlet-name>
    <servlet-class>org.ahsan.swpark.service.MemoIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoIndex</servlet-name>
    <url-pattern>/MemoIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoWrite</display-name>
    <servlet-name>MemoWrite</servlet-name>
    <servlet-class>org.ahsan.swpark.service.MemoWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoWrite</servlet-name>
    <url-pattern>/MemoWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoDelete</display-name>
    <servlet-name>MemoDelete</servlet-name>
    <servlet-class>org.ahsan.swpark.service.MemoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoDelete</servlet-name>
    <url-pattern>/MemoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyIndex</display-name>
    <servlet-name>MyIndex</servlet-name>
    <servlet-class>org.ahsan.swpark.service.MyIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyIndex</servlet-name>
    <url-pattern>/MyIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyWrite</display-name>
    <servlet-name>MyWrite</servlet-name>
    <servlet-class>org.ahsan.swpark.service.MyWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWrite</servlet-name>
    <url-pattern>/MyWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPassword</display-name>
    <servlet-name>CheckPassword</servlet-name>
    <servlet-class>org.ahsan.swpark.service.CheckPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPassword</servlet-name>
    <url-pattern>/CheckPassword</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/memo2/error.jsp</location>
  </error-page>
</web-app>